In [1]:
import datetime
import dask.dataframe as dd
import pandas as pd
import numpy as np
from featurelib import Engine
from solution import FavouriteStoreCalcer, LOOMeanTargetEncoder

In [6]:
engine = Engine(tables={})
engine.register_table(table=dd.read_parquet('data/purchases.parquet'),
                      name='purchases')
engine.register_table(table=dd.read_parquet('data/receipts.parquet'),
                      name='receipts')
engine.register_table(table=dd.read_csv('data/products.csv'),
                      name='products')
engine.register_table(table=dd.read_csv('data/client_profile.csv'),
                      name='client_profile')
engine.register_table(table=dd.read_csv('data/campaigns.csv'),
                      name='campaigns')

test_df = pd.read_csv('dataset_mini.csv')

In [7]:
encoder = LOOMeanTargetEncoder(**{
                'col_categorical': 'gender',
                'col_target': 'target_profit',
                'col_result': "gender__mte__target_profit"
            })
encoder

LOOMeanTargetEncoder(col_categorical='gender',
                     col_result='gender__mte__target_profit',
                     col_target='target_profit')

In [11]:
tmp_df = encoder.fit_transform(test_df.copy())
test_df['gender__mte__target_profit'] - tmp_df['gender__mte__target_profit']

0    -11.697762
1      1.494080
2      2.472807
3      1.654606
4      2.525659
        ...
95     3.149343
96     3.145832
97     5.627187
98    -0.582236
99     3.182417
Name: gender__mte__target_profit, Length: 100, dtype: float64

In [21]:
from category_encoders import LeaveOneOutEncoder
encoder = LeaveOneOutEncoder(cols=['gender'])
encoder = encoder.fit(tmp_df['gender'], tmp_df['target_profit'])
encoder

/root/.local/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

LeaveOneOutEncoder(cols=['gender'])

In [23]:
encoder.transform(tmp_df['gender'], tmp_df['target_profit'])

        gender
0   106.477263
1   119.669105
2   131.451902
3   119.829632
4   120.700684
..         ...
95  121.324368
96  132.124927
97  106.916556
98  117.592789
99  132.161512

[100 rows x 1 columns]